* {
    font-family: "FiraCode Nerd Font";
    font-size: 12px;
}


window#waybar {
    background-color: #15161E;
    color: #c0caf5;
}


.modules-left {
    background-color: #1a1b26;
    padding: 0px 0px 0px 0px;
}


.modules-right {
    background-color: #1a1b26;
    padding: 0px 5px 0px 0px;
}


#scratchpad {
    background-color: #1a1b26;
    color: #c0caf5;
    padding: 0px 9px 0px 9px;
}


#workspaces {}


#workspaces button {
    padding: 0px 11px 0px 11px;
    min-width: 1px;
    color: #414868;
}


#workspaces button.focused {
    padding: 0px 11px 0px 11px;
    background-color: #15161E;
    color: #c0caf5;
}


#mode {
    background-color: #900000;
    color: #c0caf5;
    padding: 0px 5px 0px 5px;
    border: 1px solid #414868;
}


#window {
    color: #c0caf5;
    background-color: #15161E;
    padding: 0px 10px 0px 10px;
}


window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}


window#waybar.empty {
    background-color: #1a1b26;
}


#network,
#temperature,
#backlight,
#pulseaudio,
#battery,
#memory {
    padding: 0px 15px 0px 15px;
}

#clock {
    margin: 0px 15px 0px 15px;
    color: #c0caf5;
}

#tray {
    padding: 0px 8px 0px 5px;
    margin: 0px 5px 0px 5px;
}

#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f7768e;
}

 
#network.disconnected {
    color: #f7768e;
}